@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    cursor: url('../../images/cursor.png'), auto;
}
:hover {
    cursor: url('../../images/cursor.png'), auto;
}
body {
    -ms-overflow-style: scrollbar;
    background: #ffffff;
    cursor: url('../../images/cursor.png'), auto;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Typography */
html {
  font-size: 12pt; } /* IMPORTANT */
  @media screen and (max-width: 1680px) {
    html {
      font-size: 11pt; } }
@media screen and (max-width: 1280px) {
    html {
            font-size: 10pt;
    }}
@media screen and (max-width: 1024px) {
    html {
            font-size: 10pt;
    }}
    @media screen and (max-width: 980px) {
        html {
            font-size: 10pt;
    }}
    @media screen and (max-width: 550px) {
        html {
            font-size: 8pt;
    }}
    @media screen and (max-width: 480px) {
        html {
            font-size: 9pt;
        }
    }

    /* Banner */
.front-logo {
    width: 100%;
    height: auto;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:200%;
}

#banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #f7f7f7;
    text-align: center;
    padding: 0 2em;
}

        #banner h1 {
            font-size: 6em;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            transition-duration: 1s;
        }

        #banner h1:hover {
            transition-duration: 1s;
            letter-spacing: .15em;
            text-shadow: -1px -1px 1px #111, 2px 2px 1px rgb(233, 219, 20);
        }

        #banner i {
            font-size: 2em;
            font-style: italic;
        }


    /* Wrapper */
.wrapper {
    box-sizing: border-box;
    padding: 2vw;
    background-color: #434343;
    cursor: url('../../images/cursor2.png'), auto;
}

.plans h1 {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 2vw;
    color: white;
    font-weight: 700;
    transition-duration: 1s;
}
    .plans h1:hover {
        cursor: url('../../images/cursor2.png'),auto;
    }

    .plans h1:hover {
        transition-duration: 1s;
        letter-spacing: .15em;
        text-shadow: -2px -2px 2px #111, 3px 3px 2px rgb(233, 219, 20);
    }

.plans {
    height: auto;
    display: block;
    width: 100%;
    cursor: url('../../images/cursor2.png'), auto;
}

#plans-header { /* ELEMENT NADRZ�DNY */
    width: 100%;
    text-align: center;
    margin: 0;
    cursor: url('../../images/cursor2.png'), auto;
}

    /* DIVIDER */

    .divide {
        padding: 2rem 2rem;
    }

    .divider {
        height: 1px;
        overflow: hidden;
        background-color: #333;
    }

        /* Kontakt */

h2:hover {
    transition-duration: 1s;
    letter-spacing: .15em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px rgb(233, 219, 20);
}
.kontakt h2{
    padding-top:1%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    transition-duration: 1s;
}

.linesbg{
    height:70px;
    opacity:0;
}
    .linesbg:hover {
        opacity:0.75;
        transition-duration: 1s;
        background: url('../../images/linesbg.png')no-repeat center center;
    }
.kontakt {
    position: relative;
    width: 95%;
    margin: auto;
    padding-bottom: 1.5rem;
    background-color: #fff;
}

.kon1 {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.space {
    display: inline-block;
    width: 30%;
    margin: auto;
    margin-right:2vw;
}

    .space:last-child {

        margin-right: 0;
    }

.kontakt-block {
    border-radius: 2px;
    display: block;
    padding:30%;
    color: #1E222B;
    background-color: #e3e3e3;
    line-height: 40px;
    text-align: center;

}
.href_link{
    color: inherit;
    text-decoration: none;
}
.kontakt-block-zawartosc {
    position: relative;
    top: 45%;
}
.text-display {
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 0.25rem;
}
@media screen and (max-width: 1920px) {
    .text-display {font-size: 1.5em;}
}
@media screen and (max-width: 1680px) {
    .text-display {font-size: 1.15em;}
}
@media screen and (max-width: 1336px) {
    .text-display {font-size: 1em;}
}
@media screen and (max-width: 736px) {
    .text-display {font-size: 1.5em;}
}
    .kontakt h3 {
        padding-top:1.25rem;
        font-size: 3em;
        text-align: center;
    }

    .img-border {
        border-right: 1px solid #333;
    }

    .kontakt-icon {
        border-radius: 50%;
        padding: 0px;
        width: 14rem;
        height: 14rem;
        background: #fff;
    }

.kontakt-opis {
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    line-height: 50px;
    margin:auto;
}

    /* KOLORY */
div.displaynone:after {/*USUN*/
    transition-duration:0.75s;
    content: 'email';
}
.color1:hover div.displaynone:after {
    content: "5325235";
    transition-duration: 0.75s;
}


    .color1:hover {
        color:white;
        background-color: #d34836;
        transition-duration: 0.75s;
    }

    /*facebook*/
    .color2:hover {
        color:white;
        background-color: #0e76a8;
        transition-duration: 0.75s;
    }
    /*twitter*/
    .color3:hover {
        color:white;
        background-color: #F1502F;
        transition-duration: 0.75s;
    }
    /*email*/

/* DIVIDER */

div.containerKontakt li {
    list-style: none;
    text-align: center;
    display:inline-flex;

    /* CENTER THE TEXT THAT CHANGES */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

}

/* FOOTER */
#footer {
    position: relative;
    margin: auto;
    bottom: 0;
    background-color: #434343;
    color: rgba(255, 255, 255, 0.5);
    cursor: url('../../images/cursor2.png'), auto;
}

.footer-bar {
    position: relative;
    margin: auto;
    background-color: #434343;
    height: auto;
    display: inline-block;
    width: 100%;
    cursor: url('../../images/cursor2.png'), auto;
}

#footer .copyright {
    font-size: 0.8rem;
    text-align: center;
    background-color: #434343;
    color: #bbb;
    vertical-align: central;
    padding-bottom: 1rem;
    cursor: url('../../images/cursor2.png'), auto;
}


/* ICON */
ul.plain li .icon {
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background: rgba(0, 0, 0, 0.5);
}

.footer-bar h5 {
    padding: 1rem;
    font-size: 1rem;
    float: right;
}



@media screen and (max-width: 1024px) {
    .wrapper {
        box-sizing: border-box;
        cursor: url('../../images/cursor2.png'), auto;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        padding: 0;
        box-sizing: border-box;
        padding: 6vw 0 6vw 0;
        background-color: #434343;
        cursor: url('../../images/cursor2.png'), auto;
    }

    .plans h1 {
        font-size: 11vw;
        font-weight:300;
    }

    img.footer-sponsor {
        width: 25vw;
        height: auto;
    }

    .kontakt-block {
        font-size: 3vw;
    }

    .kontakt h1 {
        font-size: 6vw;
    }

    .kontakt h2 {
        font-size: 4em;
    }

    div.containerKontakt li {
        justify-content: center;
        text-decoration: none;
    }
    .space:first-child{
        display: inline-block;
        width: 100%;
        padding-top:0%;
    }
    .space {
        display: inline-block;
        width: 100%;
        padding-top:5%;
    }
}
@media screen and (max-width: 480px) {
    .plans h1 {
        font-size: 10vw;
        font-weight:600;
    }
    .kontakt h1 {
        font-size: 8vw;
    }

    .kontakt h2 {
        font-size: 4em;
        padding-bottom:1em;
    }

    .text {
        display: inline-block;
        padding-left: 1vw;
        font-size: 6vw;
        overflow: hidden;
    }
}

@media screen and (max-width: 415px) {
    .kontakt h1 {
        font-size: 7.5vw;
    }
}

@media screen and (max-width: 365px) {
    .kontakt h1 {
        font-size: 7vw;
    }
}

@media screen and (max-width: 325px) {
    .kontakt h1 {
        font-size: 6.5vw;
    }
}
@media screen and (max-width: 395px) {
    ul.x-footer-logo {
        list-style: none;
        margin-left: 12vw;
        padding: 0;
        padding-top: 2rem;
        text-align: center;
    }

        ul.x-footer-logo li {
            display: inline-block;
            margin-right: 15vw;
        }

            ul.x-footer-logo li.footer-padding {
                display: inline-block;
                margin-right: 15vw;
                margin-bottom: 5vw
            }

    img.footer-sponsor {
        width: 25vw;
        height: auto;
    }
}